
  
      .profile-container {
        position: relative;
        width: 112px;
        height: 112px;
        border: 4px solid #ff4b5c;
        border-radius: 50%;
        overflow: hidden;
      }
      
      .profile-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
  
      .profile-icon {
        position: absolute;
        bottom: 5px;
        right: 5px;
        font-size: 28px;
        color: #39ff14;
        background-color: #1e1e1e;
        border: 2px solid #39ff14;
        border-radius: 50%;
        padding: 6px 10px;
        font-weight: bold;
        box-shadow: 0 0 10px #39ff14;
        font-family: monospace;
        z-index: 1px;
        
        right: 10px;
        z-index: 1;
      }




.tech-buttons {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        padding-top: 80px;
        /* border: 1px solid red; */
        margin-left: 0px;
        justify-self: center;

      }
      
      .tech-button {
        display: flex;
        gap: 0.5rem;
        background-color: #2d2d2d;
        color: white;
        border: none;
        border-radius: 999px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: default;
        transition: background 0.3s;
        
        
      }
      
      .tech-button i {
        font-size: var(--textmd);
      }
      
      /* Cores específicas por tecnologia */

      .tech-button.git{
        background-color:var(--gray-300);
        color: var(--gray-500);
      }
      .tech-button.html {
        background-color:var(--gray-300);
        color: var(--gray-500);
      }
      
      .tech-button.css {
        background-color:var(--gray-300);
        color: var(--gray-500);
      }
      
      .tech-button.js {
        background-color:var(--gray-300);
        color: var(--gray-500);
      }
      
      .tech-button.react {
        background-color:var(--gray-300);
        color: var(--gray-500);
      }

      .tech-button.node{
        background-color:var(--gray-300);
        color: var(--gray-500);
      }



#menu-container {
        padding-left: 163px;
        padding-right: 163px;
        padding-top: 120px;
        padding-bottom: 183px;
        gap: 80px;
        align-self: flex-start;
        h1{
                font: var(--titlelg);
                color: var(--gray-600);
                margin: 0;
        

            }

        h2 {
                font: var(--titlesm);
                color: var(--gray-400);
        }
        
        
        padding-inline: 168px;
        margin-inline: auto;
        /* border: 1px solid red; */

}

.circle{
        border: 1px solid white;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-image: url(../Imagens/440918707_587903083601618_5118372319805388582_n.jpg);
    background-size: 100%;
    border: 3px solid var(--red);
    justify-self: center;
    
}

.name {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 56px;
}


.Dev-f {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

  .Desc {
    display: flex;
    flex-direction: row;
    justify-content: start;
    line-height: 120%;
    font: var(--sm);
    color: var(--gray-400);
}

.fundo1 {
        background-image: url(../Imagens/Background_Intro.png);
        background-repeat: no-repeat;
        background-size: 100%;
}
#ap {   


  display: grid;

  grid-template: 
  "A"
  ;
        
        margin-left: 180px;
        margin-right: 180px;
        /* border: 1px solid white; */
        grid-area: A;
        text-align: center;
        width: 780px;
        justify-self: center;
        justify-items: center;
        /* border: 1px solid red; */


        
        
}

.nav {  
        justify-content: center;
        gap: 16px;
        color: white;
        display: flex;
        flex-direction: row;
}


.arrow-bot {
  display: flex;
  justify-self: center;
  padding-top: 94px;
}
