.tech-button img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}



  
.profile-container {
  position: relative; /* Necessário para que o .profile-icon seja posicionado em relação ao contêiner */
  width: 112px;
  height: 112px;
  padding: 8px; /* Espaço entre a borda e a imagem */
  background-color: #1e1e1e; /* Cor de fundo para o espaço */
  border: 4px solid var(--red);
  border-radius: 50%;
  overflow: hidden;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
  
.profile-icon {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 28px;
  color: #39ff14;
  background-color: #1e1e1e;
  border-radius: 50%;
  padding: 6px 10px;
  font-weight: bold;
  font-family: monospace;
  z-index: 10; /* Garante que o </> fique na frente */
  background-clip: black  ;
}




.tech-buttons {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        padding-top: 80px;
        /* border: 1px solid red; */
        margin-left: 0px;
        justify-self: center;
        object-fit: cover;
        height: 40px;
      }
      
      .tech-button {
        display: flex;
        align-items: center; /* Centraliza verticalmente */
        justify-content: center; /* Centraliza horizontalmente */
        gap: 0.5rem;
        background-color: #2d2d2d;
        color: white;
        border: none;
        border-radius: 999px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: default;
        transition: background 0.3s;
      }
      
      
      
      /* Cores específicas por tecnologia */

      .tech-button.git,
.tech-button.html,
.tech-button.css,
.tech-button.js,
.tech-button.react,
.tech-button.node {
  background-color: var(--gray-300);
  color: var(--gray-500);
}




#menu-container {
        padding-left: 163px;
        padding-right: 163px;
        padding-top: 120px;
        padding-bottom: 183px;
        gap: 80px;
        align-self: flex-start;
        h1{
                font: var(--titlelg);
                color: var(--gray-600);
                margin: 0;
        

            }
    
        
        padding-inline: 168px;
        margin-inline: auto;
        /* border: 1px solid red; */

}

.circle{
        border: 1px solid white;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-image: url(../Imagens/440918707_587903083601618_5118372319805388582_n.jpg);
    background-size: 100%;
    border: 3px solid var(--red);
    justify-self: center;
    
}

.name {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 56px;
        font: var(--sub);
        color: var(--gray-500);
}


.Dev-f {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

    .Desc {
      text-align: center;
      line-height: 120%;
      font: var(--sm);
      color: var(--gray-400);
      width:680px;
    }
    

.fundo1 {
        background-image: url(../Imagens/Background_Intro.png);
        background-repeat: no-repeat;
        background-size: 100%;
}
#ap {   
  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 780px;
    margin: 0 auto;
    padding: 0 1rem;   
}

.nav {  
        justify-content: center;
        gap: 16px;
        color: white;
        display: flex;
        flex-direction: row;
}


.arrow-bot {
  display: flex;
  justify-self: center;
  padding-top: 94px;
  cursor: pointer;
  animation: jumping 1s linear infinite;
}


@keyframes jumping {
  from {transform: translateY(-15px);}
  50% {transform: translateY(0);}
  to {transform: translateY(-15px);}
}